<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="MMCommander" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft" UpgradeCode="817aaf15-af57-4a74-ac62-5f7bfb901bd9">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <UIRef Id="WixUI_InstallDir" />
    
		<Feature Id="ProductFeature" Title="MMCommander" Level="1">     
			<ComponentGroupRef Id="ProductFileGroup" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" />
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="MMCommander">
          <Directory Id="dir01DA9BBDF711EE0C9F632FA652C32CBE" Name="dll" />
          <Directory Id="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Name="Icons" />
          <Directory Id="Manuals" Name="Manuals"/>
          <Directory Id="Plugins" Name="Plugins"/>
        </Directory>
			</Directory>
		</Directory>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Icon Id="comanderIcon.ico" SourceFile="$(var.MMComander)\Icons\main.ico"/>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="ProductFileGroup">
      <Component Id="cmp62C83CA825F05EC7DC3F4C77BE83CFC6" Directory="INSTALLDIR" Guid="E6C46490-4EE4-4C49-A42C-FA943664451B">
        <File Id="fil933F0525C8E35AA2CF6173A9EF6B6328" KeyPath="yes" Source="$(var.MMComander)\Comander.exe">
          <Shortcut Advertise="yes"
                    Id="MMComanderDesktopShortcut"
                    Directory="DesktopFolder"
                    Name="MMComander"
                    WorkingDirectory="INSTALLDIR"
                    Icon="comanderIcon.ico">
          </Shortcut>
        </File>
      </Component>
      <Component Id="cComander.exe.config" Directory="INSTALLDIR" Guid="16C3CB13-A931-4A58-8F54-CFF81A4158AD">
        <File Id="Comander.exe.config" KeyPath="yes" Source="$(var.MMComander)\Comander.exe.config" />
      </Component>
      <Component Id="cCommanderPlugin.dll" Directory="INSTALLDIR" Guid="340FB196-63F2-44B1-932E-24B6ACADA1BB">
        <File Id="CommanderPlugin.dll" KeyPath="yes" Source="$(var.MMComander)\CommanderPlugin.dll" />
      </Component>
      <Component Id="cCommands.xml" Directory="INSTALLDIR" Guid="F138586A-03E0-4A70-85CC-206F101B6FAD">
        <File Id="Commands.xml" KeyPath="yes" Source="$(var.MMComander)\Commands.xml" />
      </Component>
      <Component Id="cConfig.xml" Directory="INSTALLDIR" Guid="984E6CEE-961C-4BC6-A780-30D7420F2256">
        <File Id="Config.xml" KeyPath="yes" Source="$(var.MMComander)\Config.xml" />
      </Component>
      <Component Id="cIOLib.dll" Directory="INSTALLDIR" Guid="A2EBE5D6-3131-4570-8926-43735511D490">
        <File Id="IOLib.dll" KeyPath="yes" Source="$(var.MMComander)\IOLib.dll" />
      </Component>
      <Component Id="cIOLinq.dll" Directory="INSTALLDIR" Guid="834596AC-3291-4900-8427-D14430F3C173">
        <File Id="IOLinq.dll" KeyPath="yes" Source="$(var.MMComander)\IOLinq.dll" />
      </Component>
      <Component Id="cLogLib.dll" Directory="INSTALLDIR" Guid="AEFD749D-3FAB-4047-8DF8-49D97D04C7ED">
        <File Id="LogLib.dll" KeyPath="yes" Source="$(var.MMComander)\LogLib.dll" />
      </Component>
      <Component Id="cRxFramework.dll" Directory="INSTALLDIR" Guid="618E73CD-7937-4494-9D0E-89F53EF80C5C">
        <File Id="RxFramework.dll" KeyPath="yes" Source="$(var.MMComander)\RxFramework.dll" />
      </Component>
      <Component Id="cNLog.config" Directory="INSTALLDIR" Guid="FEC368FE-2B1D-4AB3-9E43-37ECC71C39B8">
        <File Id="NLog.config" KeyPath="yes" Source="$(var.MMComander)\NLog.config" />
      </Component>
      <Component Id="cNLog.dll" Directory="INSTALLDIR" Guid="9004B14B-2E86-45D8-9579-CDED060F2C57">
        <File Id="NLog.dll" KeyPath="yes" Source="$(var.MMComander)\NLog.dll" />
      </Component>
      <Component Id="cNLog.xml" Directory="INSTALLDIR" Guid="72967C59-3A45-4E50-A3E7-EEB3AD65E7D4">
        <File Id="NLog.xml" KeyPath="yes" Source="$(var.MMComander)\NLog.xml" />
      </Component>
      <Component Id="cMessanger.dll" Directory="INSTALLDIR" Guid="E10D7A0C-1885-4894-B977-532F0CBE4AB4">
        <File Id="Messanger.dll" KeyPath="yes" Source="$(var.MMComander)\Messanger.dll" />
      </Component>
      <Component Id="cSevenZipSharp.dll" Directory="INSTALLDIR" Guid="F0707530-EC6F-4EC8-A7BC-A085A2B3C123">
        <File Id="SevenZipSharp.dll" KeyPath="yes" Source="$(var.MMComander)\SevenZipSharp.dll" />
      </Component>
      <Component Id="cSystem.Reactive.Core.dll" Directory="INSTALLDIR" Guid="01EEA2FA-38DA-478F-B244-740E8FD53911">
        <File Id="System.Reactive.Core.dll" KeyPath="yes" Source="$(var.MMComander)\System.Reactive.Core.dll" />
      </Component>
      <Component Id="cSystem.Reactive.Core.xml" Directory="INSTALLDIR" Guid="4AC96885-EC70-4A6B-808C-3D9ED69E113A">
        <File Id="System.Reactive.Core.xml" KeyPath="yes" Source="$(var.MMComander)\System.Reactive.Core.xml" />
      </Component>
      <Component Id="cSystem.Reactive.Interfaces.dll" Directory="INSTALLDIR" Guid="1C5E0363-BEE6-4C1F-AE19-4132A6FB49DC">
        <File Id="System.Reactive.Interfaces.dll" KeyPath="yes" Source="$(var.MMComander)\System.Reactive.Interfaces.dll" />
      </Component>
      <Component Id="cSystem.Reactive.Interfaces.xml" Directory="INSTALLDIR" Guid="F989F13C-3E73-4444-9921-55A6A339D9E6">
        <File Id="System.Reactive.Interfaces.xml" KeyPath="yes" Source="$(var.MMComander)\System.Reactive.Interfaces.xml" />
      </Component>
      <Component Id="cSystem.Reactive.Linq.dll" Directory="INSTALLDIR" Guid="7F511BAF-E8A7-41B2-A864-6F588F1E0F2F">
        <File Id="System.Reactive.Linq.dll" KeyPath="yes" Source="$(var.MMComander)\System.Reactive.Linq.dll" />
      </Component>
      <Component Id="cSystem.Reactive.Linq.xml" Directory="INSTALLDIR" Guid="84AF9AC3-BF29-44E4-AE60-F1DED91BD8DA">
        <File Id="System.Reactive.Linq.xml" KeyPath="yes" Source="$(var.MMComander)\System.Reactive.Linq.xml" />
      </Component>
      <Component Id="cSystem.Reactive.PlatformServices.dll" Directory="INSTALLDIR" Guid="56FFD74C-6667-488B-A8BF-35DA36D15987">
        <File Id="System.Reactive.PlatformServices.dll" KeyPath="yes" Source="$(var.MMComander)\System.Reactive.PlatformServices.dll" />
      </Component>
      <Component Id="cSystem.Reactive.PlatformServices.xml" Directory="INSTALLDIR" Guid="EC91A5FF-BD0A-4D72-84BA-11127E81F31D">
        <File Id="System.Reactive.PlatformServices.xml" KeyPath="yes" Source="$(var.MMComander)\System.Reactive.PlatformServices.xml" />
      </Component>
      <Component Id="cSystem.Windows.Controls.Input.Toolkit.dll" Directory="INSTALLDIR" Guid="9108F06E-44E9-421E-84F9-D4274D399D9C">
        <File Id="System.Windows.Controls.Input.Toolkit.dll" KeyPath="yes" Source="$(var.MMComander)\System.Windows.Controls.Input.Toolkit.dll" />
      </Component>
      <Component Id="cSystem.Windows.Controls.Layout.Toolkit.dll" Directory="INSTALLDIR" Guid="632320B3-E534-4ADB-B842-3D88C7051608">
        <File Id="System.Windows.Controls.Layout.Toolkit.dll" KeyPath="yes" Source="$(var.MMComander)\System.Windows.Controls.Layout.Toolkit.dll" />
      </Component>
      <Component Id="cSystem.Windows.Interactivity.dll" Directory="INSTALLDIR" Guid="68D58ABA-466E-4CAD-8921-ABC821028C87">
        <File Id="System.Windows.Interactivity.dll" KeyPath="yes" Source="$(var.MMComander)\System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="cWPFToolkit.dll" Directory="INSTALLDIR" Guid="DC322AC4-9F70-4B32-8634-455A0EB8A2D9">
        <File Id="WPFToolkit.dll" KeyPath="yes" Source="$(var.MMComander)\WPFToolkit.dll" />
      </Component>
      <Component Id="cZipAdapter.dll" Directory="INSTALLDIR" Guid="C091B944-84AB-4A5B-9A3D-6E45A8755266">
        <File Id="ZipAdapter.dll" KeyPath="yes" Source="$(var.MMComander)\ZipAdapter.dll" />
      </Component>
      <Component Id="c7zx86.dll" Directory="dir01DA9BBDF711EE0C9F632FA652C32CBE" Guid="9B8C8A38-CBB1-467D-A36E-79A5639AD8D7">
        <File Id="_7zx86.dll" KeyPath="yes" Source="$(var.MMComander)\dll\7z(x86).dll" />
      </Component>
      <Component Id="c7z.dll" Directory="dir01DA9BBDF711EE0C9F632FA652C32CBE" Guid="B80CE058-F1B0-473A-A8DE-6DF76EB65BAC">
        <File Id="_7z.dll" KeyPath="yes" Source="$(var.MMComander)\dll\7z.dll" />
      </Component>
      <Component Id="cappbar.check.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="6C9DB0DE-36EB-436E-A9A0-3A11030E39A4">
        <File Id="appbar.check.png" KeyPath="yes" Source="$(var.MMComander)\Icons\appbar.check.png" />
      </Component>
      <Component Id="cAlert48.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="276C9A27-41A1-45A9-A05D-607D02F92F5C">
        <File Id="Alert48.png" KeyPath="yes" Source="$(var.MMComander)\Icons\Alert-48.png" />
      </Component>
      <Component Id="cback.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="6BDAC84B-9636-4A83-AB07-A56B81BDF029">
        <File Id="back.png" KeyPath="yes" Source="$(var.MMComander)\Icons\back.png" />
      </Component>
      <Component Id="cCancel48.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="FBACBBA3-8B17-483A-AB12-3405DCCA2A10">
        <File Id="Cancel48.png" KeyPath="yes" Source="$(var.MMComander)\Icons\Cancel-48.png" />
      </Component>
      <Component Id="cCancel.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="164D9272-E5B0-4485-9E10-807344CAD92E">
        <File Id="Cancel.png" KeyPath="yes" Source="$(var.MMComander)\Icons\Cancel.png" />
      </Component>
      <Component Id="ccreatedir.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="10F8D9B8-7E7C-451C-8318-10F8F97CA18B">
        <File Id="createdir.png" KeyPath="yes" Source="$(var.MMComander)\Icons\createdir.png" />
      </Component>
      <Component Id="ccreatefile.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="9168DB65-5AE9-41D6-889C-DC33D980AB69">
        <File Id="createfile.png" KeyPath="yes" Source="$(var.MMComander)\Icons\createfile.png" />
      </Component>
      <Component Id="cdelete.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="1B2D6BB7-A2F8-4B31-995C-8DFEEF111ECA">
        <File Id="delete.png" KeyPath="yes" Source="$(var.MMComander)\Icons\delete.png" />
      </Component>
      <Component Id="cdir.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="85E8BDB3-F8FC-48A0-9157-4137A4C76FBF">
        <File Id="dir.png" KeyPath="yes" Source="$(var.MMComander)\Icons\dir.png" />
      </Component>
      <Component Id="cerror.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="E5AE59DA-797B-480E-BD69-23AB0E887F0D">
        <File Id="error.png" KeyPath="yes" Source="$(var.MMComander)\Icons\error.png" />
      </Component>
      <Component Id="cicon.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="16F4B2E3-F490-4E1E-B584-F8AD7D532F64">
        <File Id="icon.png" KeyPath="yes" Source="$(var.MMComander)\Icons\icon.png" />
      </Component>
      <Component Id="cinfo.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="EA036D31-7B18-4E2B-AAE2-9040001214F2">
        <File Id="info.png" KeyPath="yes" Source="$(var.MMComander)\Icons\info.png" />
      </Component>
      <Component Id="cinfo_black.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="B97930CE-6264-4038-A6E4-DDFF81E976B2">
        <File Id="info_black.png" KeyPath="yes" Source="$(var.MMComander)\Icons\info_black.png" />
      </Component>
      <Component Id="cmain.ico" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="0A13B7D4-7F8A-4CE5-90D5-A91A75EFD04D">
        <File Id="main.ico" KeyPath="yes" Source="$(var.MMComander)\Icons\main.ico" />
      </Component>
      <Component Id="cmove.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="7B62E2AE-7C5B-46CA-9F6F-039609806AFE">
        <File Id="move.png" KeyPath="yes" Source="$(var.MMComander)\Icons\move.png" />
      </Component>
      <Component Id="cmove2.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="1165A4D9-2563-4C4C-A766-7A26B6AA2DB1">
        <File Id="move2.png" KeyPath="yes" Source="$(var.MMComander)\Icons\move2.png" />
      </Component>
      <Component Id="crefresh.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="148F5582-86B3-4600-A652-D6B17BA1FB9A">
        <File Id="refresh.png" KeyPath="yes" Source="$(var.MMComander)\Icons\refresh.png" />
      </Component>
      <Component Id="crootdir.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="98704BEC-BBF0-4EBB-82A9-E7C82BAFF674">
        <File Id="rootdir.png" KeyPath="yes" Source="$(var.MMComander)\Icons\rootdir.png" />
      </Component>
      <Component Id="csearch.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="C1606C62-570D-4E12-B1A5-32A8AD10210B">
        <File Id="search.png" KeyPath="yes" Source="$(var.MMComander)\Icons\search.png" />
      </Component>
      <Component Id="ctreefiles.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="5EA529B7-752F-4EF5-98EE-9AFAD67603D8">
        <File Id="treefiles.png" KeyPath="yes" Source="$(var.MMComander)\Icons\treefiles.png" />
      </Component>
      <Component Id="ctreefolder.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="80353BE9-308F-406F-9B6E-EDE7827005FE">
        <File Id="treefolder.png" KeyPath="yes" Source="$(var.MMComander)\Icons\treefolder.png" />
      </Component>
      <Component Id="cwarning.png" Directory="dir4F3C530C044DF75FAE7A1AAFB2AC7320" Guid="5542C6D1-AA70-4173-ACD3-045176FFA45A">
        <File Id="warning.png" KeyPath="yes" Source="$(var.MMComander)\Icons\warning.png" />
      </Component>
      <Component Id="cKeyMap" Directory="Manuals" Guid="731AAC34-4B0D-48D3-AF06-F3F450C85AE0">
        <File Id="KeyMapDocument" KeyPath="yes" Source="$(var.MMComander)\Manuals\keymap.html"/>
      </Component>
      <Component Id="CMP_WriteToRegistry" Directory="INSTALLDIR" Guid="371D0F9B-8226-4FF2-B9DB-F6A4169A903E">
        <RegistryKey Root="HKCU" Key="Software\MMCommander" ForceDeleteOnUninstall="yes">
          <RegistryValue Name="Source" Action="write" Value="C:" Type="string" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="CMP_WriteToRegistry2" Directory="INSTALLDIR" Guid="3B92CD6E-C869-4B61-B1DF-45D7DA97865D">
        <RegistryKey Root="HKCU" Key="Software\MMCommander" ForceDeleteOnUninstall="yes">
          <RegistryValue Name="Target" Action="write" Value="C:" Type="string" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="CMP_plugins" Directory="Plugins" Guid="A46B4011-AEBC-4AE2-8723-AEB6A001E2F5">
        <CreateFolder/>
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>